.card {
    border: 1px solid gray;
    width: 275px;
    min-height: 150px;
    max-height: 500px;
    padding: 10px;
    background-color: rgb(233, 221, 221);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.card>* {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}