.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 20px;
    background-color: rgb(233, 221, 221);
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 20px
}

.logo {
    display: flex;
    align-items: center;
}

.left img {
    width: 25px;
    height: auto;
}